.bookForm {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.bookItem {
    width: 250px;
    min-height:250px;
    margin: 5px;
}

.booksTitle {
    font-size: 2.4rem;
    text-align: center;
}

.booksTitle {
    font-size: 1.2rem;
    text-align: center;
}

.bookInfo {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}
