    <nav class="mainHeaderNav">
        <ul class="mainHeaderItemList">
            <li class="mainHeaderItem"><a class="<% path === '/' ? 'active':'' %>" href="/" >Add Book</a></li>
            <li class="mainHeaderItem"><a class="<% path === '/book' ? 'active': '' %>" href="/book" >View Books</a></li>
        </ul>
    </nav>
