    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active':'' %>" href="/" >Add Book</a></li>
            <li class="main-header__item"><a class="<%= path === '/book' ? 'active': '' %>" href="/book" >View Books</a></li>
        </ul>
    </nav>
